<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lorenzo.ricettario" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ricettario</name>
    <description>Ricettario classico e Bimby, con scalatura porzioni e scambio ricette.</description>
    <author email="tu@example.com" href="https://example.com">Lorenzo</author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xFFFAF6EF" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <!-- Plugin per scrivere il file di export e aprire il menu Condividi -->
    <plugin name="cordova-plugin-file" spec="^8.1.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^6.0.4" />
    <!-- Tiene lo schermo acceso mentre si cucina (funzione "Schermo acceso") -->
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi"    src="res/android/icon-48.png" />
        <icon density="hdpi"    src="res/android/icon-72.png" />
        <icon density="xhdpi"   src="res/android/icon-96.png" />
        <icon density="xxhdpi"  src="res/android/icon-144.png" />
        <icon density="xxxhdpi" src="res/android/icon-192.png" />
    </platform>

    <engine name="android" spec="^13.0.0" />
</widget>
